---
layout: page
title: KevinTestbeds
tagline: we can do this
permalink: /kevintestbeds
---
{% assign keke = site.testbeds[hicat] %}

<h1>{{ page.title }}</h1>
	<ul class="posts">

		<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;}
		.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color: #000000;}
		.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
		.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
		</style>
		<table class="tg">
            <tr>
                <th class="tg-0pky"><span style="font-weight:bold">Testbed name</span></th>
                <th class="tg-0pky"><span style="font-weight:bold">Institution</span></th>
                <th class="tg-0pky"><span style="font-weight:bold">PI</span></th>
            </tr>
            {% for item in (0..2) %}
                <tr>
                    <td class="tg-0pky">{{ keke }}</td>
                    <td class="tg-0pky"><a href="../testbeds/hicat.html">HiCAT</a></td>
                    <td class="tg-0pky">Space Telescope Science Institute</td>
                </tr>
            {% endfor %}
		</table>
	</ul>


<p>6</p>

<p>
{% assign vartest = site.testbeds %}
{{ vartest[hicat] }}
{% for item in site.testbeds %}
	{{ item.dir }}
{% endfor %}
</p>

<p>6</p>
<a href="{{ item1.url }}"></a>

<table>
	{% tablerow item1 in (0..5) %}
		{{ item1 }}
		Space Telescope Science Institute
		R. Soummer
	{% endtablerow %}
</table>
