---
layout: page
title: Testbeds
tagline: Testbeds being part of the community
permalink: /testbeds
---
{% assign testbeds = site.data.testbeds %}

<h1>{{ page.title }}</h1>
<ul class="posts">

	<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color: #000000;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
	.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
	</style>
	<table class="tg">
		<tr>
			<th class="tg-0pky"><span style="font-weight:bold">Testbed name</span></th>
			<th class="tg-0pky"><span style="font-weight:bold">Institution</span></th>
			<th class="tg-0pky"><span style="font-weight:bold">PI</span></th>
		</tr>
        {% for testbed in testbeds %} {% if testbed[0] != 'testbed_template' %}
            <tr>
                <td class="tg-0pky"><a href="/testbeds/{{ testbed[0] }}.html">{{ testbed[1].shortname }}</a></td>
                <td class="tg-0pky">{{ testbed[1].institute }}</td>
                <td class="tg-0pky">
                    {% if testbed[1].contact.size == 1 %}
                        {{ testbed[1].contact[0].name }}
                    {% else %}
                        {% for item in testbed[1].contact %} 
                        <li>{{ item.name }}</li>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
	</table>
</ul>
