---
layout: default
---
<h1> {{ fullname }} </h1>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-0pky"><span style="font-weight:bold">Full testbed name</span></th>
    <th class="tg-0pky"><span style="font-weight:bold">Managing institution</span></th>
  </tr>
  <tr>
    <td class="tg-0pky"> {{content }} </td>
    <td class="tg-0pky"> {{ content }} </td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Contact person</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">People willing to give talks</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Main scientific focus</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">Testbed environment</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Key hardware items</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">Current status</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Software, languages</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">Is our software shared?</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
</table>
